/* styles.css */
body {
    font-family: Consolas, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.splash-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.splash-box {
    position: relative;
    width: 250px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none; /* Ensure links look clickable */
}

.splash-box:hover {
    transform: scale(1.05);
}

.splash-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.splash-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    text-align: center;
    transition: background-color 0.3s;
}

.splash-description {
    padding: 10px;
    background-color: white;
    color: black;
    text-align: center;
    border-top: 1px solid black;
}
