body {
    font-family: Consolas, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 60px;
    border-radius: 20%;
    margin-right: 20px;
}

p {
    line-height: 1.5;
}

.site-title {
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    background: white;
    border-radius: 5px;
    height: 4px;
    margin: 4px;
    width: 25px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 250px;
        background-color: #333;
        z-index: 10;
        box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    }

    .nav-links.active {
        display: flex;

    }

    .hamburger {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
        font-size: 1.25rem;
    }

    .header-right {
        flex-direction: column;
    }
}


.container {
    width: 80%;
    margin: 0 auto;
}

main {
    padding: 20px;
}

#projects-container,
#development-container {
    margin-top: 20px;
}

.accordion {
    background-color: #c4c4c4;
    font-family: Consolas, monospace;
    color: #444;
    border: 1px solid black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 1.3rem;
    transition: 0.4s;
    margin-bottom: 5px;
}

.accordion.active, .accordion:hover {
    font-weight: bold;
    font-size: 1.3rem;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: block;
    overflow: hidden;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    max-height: 2000px; /* Ensure a large enough max-height to show content */
    transition: max-height 0.2s ease-out;
}

.panel.closed {
    max-height: 0; /* When closed, max-height should be set to 0 */
}

.splash-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.splash-box {
    position: relative;
    width: 250px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none; /* Ensure links look clickable */
}

.splash-box:hover {
    transform: scale(1.05);
}

.splash-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    filter: grayscale(80%);
    opacity: 50%;
}

.splash-title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 25%);
    color: white;
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
    padding: 10px;
    border-radius: 5px;
}

.splash-description {
    padding: 10px;
    background-color: #333; /* Dark background for better visibility */
    object-fit: cover;
    color: white;
    text-align: center;
    border-top: 1px solid black;
    margin-top: 5px;
}
